body {
    background-image: url("https://wallpapertag.com/wallpaper/full/2/6/0/283037-download-free-marble-background-2048x1347-xiaomi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.links {
    color: black;
}

.links:hover{
    background-color:transparent;
    color: rgb(58, 61, 68)
}

.links:active {
    background-color:transparent;
}

.navBtn {
    margin-left: 5px;
}

.homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3%;
}

.productCards {
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.outfitContainer {
    padding: 10px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7%;
}

.outfitImage {
    height: 350px;
    width: auto;
    /* align-self: center; */
}

.cardTitle {
    text-align: left;
    color: rgb(26, 26, 74);
    font-size: 12pt;
    font-family: sans-serif;
}

.outfitTitle {
    text-align: center;
    color: rgb(26, 26, 74);
    font-size: 25pt;
    font-family: sans-serif;
}

#outfitDesigner{
    text-align: right; 
    font-size: 10pt; 
    color: rgb(43, 42, 42); 
    font-family: sans-serif;
}

#outfitLikes {
    border: 1px solid rgba(112, 167, 240, 0.479); 
    width: 60px;
    background-color:rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 14pt;
    transition: 0.2s;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.479);
    justify-content: center;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  margin-top: 5%;
  width: 90%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
  display: block;
  margin-top: 9px;
}

.resp {
  padding: 0 6px;
  float: left;
  width: 50%;
  display: block;
  margin-top: 9px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

#outfitLikes {
    border: 1px solid rgba(112, 167, 240, 0.479); 
    width: 60px;
    background-color:rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 14pt;
    transition: 0.2s;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.479);
    justify-content: center;
}

.likeButtonDiv {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.options {
  height: 800px;
  overflow: scroll;
}

#commentList {
  width:450px;
  overflow-y: scroll;
  height: auto;
  max-height: 200px;
  margin: 0 auto;   
  text-align: center;
}

.submitForm {
  text-align: center;

#commentForm {
  max-width: 50%; 
  margin: 0 auto;   
  align-items: center;
}